<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PROFILE.INTERESTS.ADD_INTEREST' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      [placeholder]="'PROFILE.INTERESTS.SEARCH' | translate"
      animated="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="interests-list">
    <ion-chip
      *ngFor="let interest of filteredInterests"
      (click)="selectInterest(interest)"
      class="selectable-interest">
      <ion-label>{{ interest.name }}</ion-label>
      <ion-icon name="add-circle"></ion-icon>
    </ion-chip>

    <div *ngIf="filteredInterests.length === 0" class="no-results">
      <ion-icon name="search-outline"></ion-icon>
      <p>{{ 'PROFILE.INTERESTS.NO_RESULTS' | translate }}</p>
    </div>
  </div>
</ion-content>
