ion-app {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 256px;
    width: calc(100vw - 256px);
  }
}

@media (max-width: 767px) {
  .main-content {
    padding-bottom: 60px;
    margin-left: 0;
    width: 100vw;
  }
}
