<nav class="sidebar">
  <div class="sidebar-content">
    <a [routerLink]="['/home']" class="logo-container">
      <img ngSrc="assets/icon/unihub.png" id="logo" alt="Logo" height="50" width="50" />
    </a>
    <!-- AUTH BUTTONS -->
    <div class="login-action" *ngIf="!(currentUser$ | async)">
      <ion-button color="primary" [routerLink]="['/login']" expand="block">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        {{ 'SIDEBAR.LOGIN' | translate }}
      </ion-button>
      <ion-button color="light" [routerLink]="['/signup']" expand="block">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        {{ 'SIDEBAR.SIGNUP' | translate }}
      </ion-button>
    </div>

    <!-- NAVIGATION ITEMS -->
    <div class="nav-items">
      <a
        *ngFor="let item of filteredNavItems"
        [routerLink]="item.route"
        routerLinkActive="active"
        class="nav-item">
        <ion-icon [name]="item.icon"></ion-icon>
        <span>{{ item.translationKey | translate }}</span>
      </a>
    </div>
    <!-- ADMIN -->
    <ng-container *ngIf="currentUser$ | async as user">
      <div class="admin-section" *ngIf="user.role === 'Admin'">
        <hr class="admin-separator" />
        <div class="admin-label">{{ 'SIDEBAR.ADMIN' | translate }}</div>
      </div>
      <a
        *ngFor="let item of adminNavItems"
        [routerLink]="item.route"
        routerLinkActive="active"
        class="nav-item">
        <ion-icon [name]="item.icon"></ion-icon>
        <span>{{ item.translationKey | translate }}</span>
      </a>
    </ng-container>
  </div>
</nav>

<!-- MOBILE BUTTONS -->
<nav class="bottom-nav">
  <ng-container *ngIf="currentUser$ | async as user; else notAuth">
    <a
      *ngFor="let item of mobileNavItemsAuth"
      [routerLink]="item.icon === 'menu-outline' ? null : item.route"
      routerLinkActive="active"
      class="nav-item"
      (click)="item.icon === 'menu-outline' ? onBurgerClick() : closeBurgerMenu()"
      [class.burger]="item.icon === 'menu-outline'">
      <ion-icon [name]="item.icon"></ion-icon>
      <span>{{ item.translationKey | translate }}</span>
    </a>
  </ng-container>
  <ng-template #notAuth>
    <a
      *ngFor="let item of mobileNavItemsNotAuth"
      [routerLink]="item.icon === 'menu-outline' ? null : item.route"
      routerLinkActive="active"
      class="nav-item"
      (click)="item.icon === 'menu-outline' ? onBurgerClick() : closeBurgerMenu()">
      <ion-icon [name]="item.icon"></ion-icon>
      <span>{{ item.translationKey | translate }}</span>
    </a>
  </ng-template>

  <!-- BURGER MENU -->
  <div class="burger-menu" *ngIf="showBurgerMenu">
    <a
      *ngFor="let menuItem of burgerMenuItems"
      (click)="onBurgerMenuNavigate(menuItem.route)"
      class="burger-menu-item"
      [class.active]="router.url === menuItem.route">
      <ion-icon [name]="menuItem.icon"></ion-icon>
      <span>{{ menuItem.translationKey | translate }}</span>
    </a>
  </div>
</nav>
