{
  "extends": [
    "plugin:@angular-eslint/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "function-call-argument-newline": "off",
    "function-paren-newline": "off",
    "operator-linebreak": "off",
    "max-len": "off"
  }
}
