<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PASSWORD.FORGOT.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-content">
    <p class="description">{{ 'PASSWORD.FORGOT.DESCRIPTION' | translate }}</p>

    <form (ngSubmit)="sendResetEmail()" #forgotForm="ngForm">
      <ion-item
        lines="none"
        class="input-item"
        [class.input-error]="emailTouched && !validateEmail(email)">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input
          type="email"
          [placeholder]="'SIGNUP.EMAIL' | translate"
          [(ngModel)]="email"
          name="email"
          [required]="true"
          (ionBlur)="emailTouched = true"
          (ionInput)="onEmailInput()"
          [ngClass]="{ invalid: emailTouched && !validateEmail(email) }"></ion-input>
      </ion-item>
      <div *ngIf="emailTouched && !validateEmail(email)" class="input-error-message">
        {{ 'LOGIN.ERROR.INVALID_EMAIL' | translate }}
      </div>

      <ion-button
        expand="block"
        type="submit"
        class="submit-button"
        [disabled]="isLoading || !validateEmail(email)">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">{{ 'PASSWORD.FORGOT.SEND' | translate }}</span>
      </ion-button>
    </form>
  </div>
</ion-content>
