<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'APP.TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="home-container">
    <div class="welcome-section" *ngIf="user">
      <h1>
        {{ 'HOME.WELCOME' | translate }}, {{ user.name || user.firstName || ('HOME.STUDENT' |
        translate) }}!
      </h1>
      <p class="subtitle">{{ 'HOME.READY' | translate }}</p>
      <ion-button expand="block" (click)="navigateToRooms()" class="explore-btn">
        <ion-icon slot="start" name="business-outline"></ion-icon>
        {{ 'HOME.START' | translate }} {{ 'APP.TITLE' | translate }}
      </ion-button>
    </div>

    <div class="welcome-section" *ngIf="!user">
      <h1>{{ 'HOME.WELCOME' | translate }}</h1>
      <p class="subtitle">{{ 'HOME.READY' | translate }}</p>
      <ion-button expand="block" (click)="navigateToRooms()" class="explore-btn">
        <ion-icon slot="start" name="business-outline"></ion-icon>
        {{ 'HOME.START' | translate }} {{ 'APP.TITLE' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
