.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.empty-state {
  text-align: center;
  padding-top: 50px;
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 4rem;
  }

  p {
    margin-top: 1rem;
  }
}
