<ion-content [fullscreen]="true">
  <div class="item-edit-container">
    <h1>
      {{ isEditMode ? ('UNI_ITEMS.FORM.TITLE_EDIT' | translate) : ('UNI_ITEMS.FORM.TITLE_NEW' |
      translate) }}
    </h1>

    <form [formGroup]="form" (ngSubmit)="submit()" class="item-form">
      <ion-item lines="none">
        <ion-label position="stacked">{{ 'UNI_ITEMS.FORM.TITLE' | translate }} *</ion-label>
        <ion-input formControlName="title" [required]="true"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">{{ 'UNI_ITEMS.FORM.DESCRIPTION' | translate }}</ion-label>
        <ion-textarea formControlName="description" [rows]="4"></ion-textarea>
      </ion-item>

      <div class="two-column">
        <ion-item lines="none">
          <ion-label position="stacked">{{ 'UNI_ITEMS.FORM.CATEGORY' | translate }} *</ion-label>
          <ion-select interface="popover" formControlName="category">
            <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">{{ 'UNI_ITEMS.FORM.CONDITION' | translate }} *</ion-label>
          <ion-select interface="popover" formControlName="condition">
            <ion-select-option *ngFor="let condition of conditions" [value]="condition.value">
              {{ condition.labelKey | translate }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="two-column">
        <ion-item lines="none">
          <ion-label position="stacked">{{ 'UNI_ITEMS.FORM.PRICE' | translate }} *</ion-label>
          <ion-input type="number" formControlName="price" min="0"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">{{ 'UNI_ITEMS.FORM.CURRENCY' | translate }} *</ion-label>
          <ion-select interface="popover" formControlName="currency">
            <ion-select-option *ngFor="let currency of currencies" [value]="currency.value">
              {{ currency.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="location-field">
        <ion-label position="stacked">{{ 'UNI_ITEMS.FORM.LOCATION' | translate }} *</ion-label>
        <ion-button expand="block" fill="outline" (click)="openLocationPicker()" class="location-picker-btn">
          <ion-icon slot="start" name="location-outline"></ion-icon>
          <span *ngIf="!form.get('location')?.value">{{ 'UNI_ITEMS.FORM.SELECT_LOCATION' | translate }}</span>
          <span *ngIf="form.get('location')?.value">{{ form.get('location')?.value }}</span>
        </ion-button>
        <ion-note>{{ 'UNI_ITEMS.FORM.LOCATION_HELPER' | translate }}</ion-note>
      </div>

      <div class="photos-section">
        <div class="photos-header">
          <h3>{{ 'UNI_ITEMS.FORM.IMAGES' | translate }}</h3>
          <ion-button
            fill="clear"
            size="small"
            (click)="photoInput.click()"
            [disabled]="!canAddMorePhotos">
            <ion-icon slot="start" name="add-outline"></ion-icon>
            {{ 'UNI_ITEMS.FORM.ADD_IMAGE' | translate }}
          </ion-button>
          <input
            #photoInput
            type="file"
            accept="image/jpeg,image/png,image/gif,image/webp"
            multiple
            style="display: none"
            (change)="onPhotosSelected($event)" />
        </div>

        <ion-note *ngIf="photoUploadError" color="danger" class="photo-error">
          {{ photoUploadError }}
        </ion-note>

        <div class="photo-grid" *ngIf="photoPreviews.length > 0">
          <div
            *ngFor="let photo of photoPreviews; let i = index"
            class="photo-preview-item"
            [class.is-primary]="photo.isPrimary">
            <img [src]="photo.preview" [alt]="(i + 1).toString()" />
            <div class="photo-actions">
              <ion-button
                fill="clear"
                size="small"
                color="light"
                *ngIf="!photo.isPrimary"
                (click)="setPrimaryPhoto(i)">
                <ion-icon name="star-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="danger" (click)="removePhoto(i)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
            <ion-badge *ngIf="photo.isPrimary" color="primary" class="primary-badge">
              {{ 'ROOM.FORM.PRIMARY_BADGE' | translate }}
            </ion-badge>
          </div>
        </div>

        <div class="empty-photos" *ngIf="photoPreviews.length === 0">
          <ion-icon name="images-outline"></ion-icon>
          <p>{{ 'UNI_ITEMS.FORM.NO_PHOTOS' | translate }}</p>
        </div>
      </div>

      <div class="form-actions">
        <ion-button type="submit" color="primary" [disabled]="loading">
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">
            {{ isEditMode ? ('UNI_ITEMS.FORM.SAVE_CHANGES' | translate) : ('UNI_ITEMS.FORM.CREATE' | translate) }}
          </span>
        </ion-button>
        <ion-button fill="clear" color="medium" [disabled]="loading" (click)="cancel()">
          {{ 'UNI_ITEMS.FORM.CANCEL' | translate }}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
